.box {
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

img {
    border-radius: 7px 7px 0px 0px;
    aspect-ratio: 4/3;
    object-fit: cover;
    transition: transform 0.5s ease;
}


img:hover{
    transform: scale(1.5);
}


.no-link {
    text-decoration-line: none;
}

.image-and-tag-container{
    position: relative;
    overflow: hidden;
}

.tag {
    color: white;
    position: absolute;
    left: 30px;
    bottom: 4px;
    background: #5fb2e3;
    padding: 7px;
}

.tagline {
    color: #2b2b2b;
    padding: 20px;
}

